<main>
    <div class="box-carousel">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <img src="public/main/assets/img/banner-primary.jpg"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="public/main/assets/img/banner-secondary.jpg"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="4000">
                    <img src="public/main/assets/img/banner-tertiary.jpg"
                        class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <i class="bi bi-chevron-left button-change-img-banner"></i>
            </button>
            <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <i class="bi bi-chevron-right button-change-img-banner"></i>
            </button>

        </div>
    </div>

    <div class="box-main">
        <h2>Descubra as novidades</h2>
        <div class="box-content">
        {% for p in products %}
            <div class="box-product">
                <div class="box-favorites">
                    <button><i class="bi bi-heart"></i></button>
                </div>
                <a href="produto.php">
                    <img src="{{ p.image }}"
                        alt="imagem do produto">
                </a>
                <div class="box-description-product">
                    <h5>{{ p.name }}</h5>
                    <p class="">{{ p.category }}</p>
                    <div class="box-price">
                        <p class="">R$29,15</p>
                        <p class=""><strong>R$ {{ p.price }}</strong></p>
                    </div>
                    <p class="text-description-product">{{ p.description }}</p>
                </div>
                <div class="box-button-buy">
                    <button onclick="location.href='/produto/{{ p.id }}'" class="button-buy">Comprar Agora</button>

                    <i class="bi bi-handbag productBag" data-id="{{ p.id }}"></i>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="box-main">


           <div class="box-main">
        <h2>Descubra as novidades</h2>
        <div class="box-content">
        {% for p in products %}
            <div class="box-product">
                <div class="box-favorites">
                    <button><i class="bi bi-heart"></i></button>
                </div>
                <a href="produto.php">
                    <img src="{{ p.image }}"
                        alt="imagem do produto">
                </a>
                <div class="box-description-product">
                    <h5>{{ p.name }}</h5>
                    <p class="">{{ p.category }}</p>
                    <div class="box-price">
                        <p class="">R$29,15</p>
                        <p class=""><strong>R$ {{ p.price }}</strong></p>
                    </div>
                    <p class="text-description-product">{{ p.description }}</p>
                </div>
                <div class="box-button-buy">
                    <button onclick="location.href='/produto/{{ p.id }}'" class="button-buy">Comprar Agora</button>

                    <i class="bi bi-handbag productBag" data-id="{{ p.id }}"></i>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="box-banner">
        <div>
            <img src="public/main/assets/img/banner-primary.jpg" alt="">
        </div>
    </div>
</main>